{% set organisationId = organisation.id %}
{% extends "Theme/Users/Adminuser/layoutbaseorg.html.twig" %}
{% block meta %}
	{{ parent() }}
	<meta name="author" content="Sprint-pay"/>
	<meta name="description" content="{{ site }} - Connexion"/>
{% endblock %}

{% block title %}
	{{ parent() }} | Connexion
{% endblock %}

{% block userblog_body %}
<section class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
    <section style="min-height: 98px; padding: 15px 50px; background: #1e4a8b; color: #fff; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
        <div class="row">
            <div class="col-md-8">
                <h1>Enregistrement d'une nouvelle cotation</h1>
                <div>
                    <span class="bi bi-geo-alt"></span> Global - Buéa - Entrepot
                </div>
            </div>
        </div>
    </section>
</section>

<div class="container" style="min-height: calc(100vh - 150px);">
    <ul class="breadcrumb_" itemprop="breadcrumb_">
      <li><a href="#">Tableau de bord</a></li>
      <li><a href="#">Cotations</a></li>
      <li><h1>Nouvelle cotation</h1></li>
    </ul>

    <div class="mt-2 mb-2">
        <ul class="tabs-step">
            <li class="active">
                <a href="#">
                    <strong>Identification de l'opération</strong>
                    <div>Services</div>
                </a>
            </li>
            <li class="active">
                <a href="#">
                    <strong>Description du contenu</strong>
                    <div>Contacts</div>
                </a>
            </li>
            <li class="active">
                <a href="#">
                    <strong>Cotation</strong>
                    <div>Tarification</div>
                </a>
            </li>
        </ul>
    </div>

    {% for infos in app.session.flashbag.get('information') %}
        {% if loop.last %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
              {{ infos }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
        {% endif %}
    {% endfor %}

    {% set id = '' %}
    {% for infos in app.session.flashbag.get('supprime_contenu') %}
    {% if loop.last %}
    <div style="background: #f2f2f2; padding: 5px; border-left: 4px solid #3565ae;">
      <strong style="color: red;"><span class="fa fa-warning"></span> {{ 'Êtes vous certain de vouloir supprimer le produit'|trans }} {{ infos|trans|lower|raw }}</strong>
      <form action="{{ path('produit_produit_produit_delete_produitpanier',{'id': id }) }}" method="post" style="display: inline;">
        <input type="submit" value="{{ 'Supprimer'|trans }}" style="background: red;"/>
        {{ form_rest(formsupp) }}
      </form>
    </div>
    {% else %}
    {% set id = infos %}
    {% endif %}
    {% endfor %}

    <form action="{{ path('users_adminuser_cotation_organisation', {'id': panier.organisation.id}) }}" method="post">
    <div class="mb-3" style="background: #fff; padding: 20px; min-height: 400px;">
        <h3>
            <a href="#!" class="open-modal-update-panier" style="float: right;" value="{{ panier.id }}"><span class="bi bi-node-plus"></span> Ajouter une ligne</a>
            Client N°: <strong>{{ panier.clientNumber }}</strong> <span class="bi bi-circle"></span> Référence: <strong>{{ panier.reference }}</strong>
        </h3>
        <hr/>
        
        <div class="card-dash-csu">
            <div class="table-responsive-vertical shadow-z-1" style="box-shadow:0px 0px 2px rgba(0,0,0,0.0005);">
            <table id="table" class="table table-hover table-mc-light-blue" style="margin: 0px 0px 15px 0px;">
            <thead>
            <tr>
            <th>Eléments</th>
            <th>Montant UHT</th>
            <th>Quantité</th>
            <th>Taxes</th>
            <th>Montants TTC</th>
            <th>Action</th>
            </tr>
            </thead>
            <tbody>
                {% set totalPanier = 0 %}
                {% for typeproduit in liste_typeProd %}

                    {% set currentProduits = panier.getProduitOrganisationType(typeproduit) %}
                    {% if currentProduits|length > 0 %}
                    <tr>
                        <td data-title="Type de produit" colspan="6">
                            <strong>{{ typeproduit.nom }}</strong>
                        </td>
                    </tr>
                        {% set totalSection = 0 %}
                        {% for produitpanier in currentProduits %}
                        <tr>
                            <td data-title="Produit">{{ produitpanier.produitOrganisation.produit.nom }}</td>
                            <td data-title="Montant UHT">
                                <input type="number" class="form-control update_product_amount" placeholder="Montant" value="{{ produitpanier.montant }}" name="{{ produitpanier.id }}"/>
                            </td>
                            <td data-title="Quantité">
                                <select  class="form-control input-lg quantity_produit_item" name="{{ produitpanier.id }}">
                                    {% for i in range(1, 20) %}
                                    <option value="{{ i }}" {% if i == produitpanier.quantite %}selected{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td data-title="Taxes">
                                <input type="number" class="form-control update_product_taxe" placeholder="Taxe" value="{{ produitpanier.taxe }}" name="{{ produitpanier.id }}"/>
                            </td>
                            <td data-title="Montants TTC">
                                {% set totalItem = (produitpanier.montant * produitpanier.quantite) + (produitpanier.taxe * produitpanier.quantite) %}
                                {{ totalItem }}
                            </td>
                            <td data-title="Action" style="white-space: nowrap;">
                                <div class="dropdown" style="float: right;">
                                    <a href="" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="bi bi-three-dots"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{{ path('produit_produit_produit_delete_produitpanier', {'id': produitpanier.id }) }}"><span class="bi bi-trash"></span> Supprimer</a>
                                    
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% set totalSection = totalSection + totalItem %}
                        {% endfor %}

                        <tr>
                            <td data-title="Eléments" colspan="4">
                                <strong>TOTAL {{ typeproduit.nom }}</strong>
                            </td>
                            <td data-title="Eléments" colspan="2">
                                <strong>{{ totalSection }} {{ devise }}</strong>
                            </td>
                        </tr>
                        {% set totalPanier = totalPanier + totalSection %}
                    {% endif %}
                {% endfor %}

                <tr>
                    <td data-title="-" colspan="6">
                        
                    </td>
                </tr>
                <tr>
                    <td data-title="-" colspan="6">
                        
                    </td>
                </tr>

                <tr>
                    <td data-title="Eléments" colspan="4">
                        <strong>MONTANT TOTAL</strong>
                    </td>
                    <td data-title="Eléments" colspan="2">
                        <strong>{{ totalPanier }} {{ devise }}</strong>
                    </td>
                </tr>
            </tbody>
            </table>
            </div>
        </div>

    </div>

    <div class="mt-3 text-right " style="background: #fff; padding: 20px;">
        <a href="{{ path('users_adminuser_cotation_description', {'id': panier.id }) }}" class="btn btn-primary" style="float: left;">
            <span class="bi bi-arrow-return-left"></span> Etape précedente
        </a>
        <button type="submit" class="btn btn-primary">
            Enregistrer et continuer <span class="bi bi-arrow-return-right"></span>
        </button>
        <input type="hidden" name="panierId" value="{{ panier.id }}"/>
        <input type="hidden" name="amountPanier" value="{{ totalPanier }}"/>
    </div>

</form>

</div>
<!-- content-wrapper ends -->

<div class="modal fade" data-backdrop="false" id="modal-update-content" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLongTitle">Mise à jour du contenu</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="input-field col-md-12">
                <div class="wait-chargement-content-module-article" style="text-align: center;">
                  Patientez un moment pendant le chargement de l'article</br>
                  <img src="{{ asset('template/images/loader1.gif') }}" alt="image" style="height: 40px; width: 40px;">
                </div>
            
                <div class="content-module-loading-article" style="display: none;">
                
                </div>
              </div>
          </div>
        </div>
      <div class="modal-footer" style="padding-top: 15px; z-index: 1;">
      {% include 'Theme/General/Template/Menu/social.html.twig' %}
      </div>
    </div>
    </div>
  </div>

{% endblock %}

{% block javascripttemplate %}

$('.quantity_produit_item').on('change', function(){
    var id = $(this).attr('name');
    var quantite = $(this).val();

    var height = ($(window).height() + $(window).scrollTop());
    var width = $(window).width() + 100;
    var scrolltop = $(window).scrollTop();
    $('.panel-result-action-hosting-user').show();
    $('.content-alert-action-hosting-user').show();
    $('.content-alert-action-hosting-user').html('<div style="position: fixed; top: 0px; margin-bottom: '+scrolltop+'px; left: 0px; z-index: 9000; width: '+width+'px; height: '+height+'px; background: rgba(0,0,0,0.5);"></div>');

    $.get('{{ path('produit_produit_editer_courant_commande') }}',{ id: id, quantite: quantite }, function(data){
      if(data == 1)
      {
          window.location.reload();
          $('.panel-result-action-hosting-user').hide();
          $('.content-alert-action-hosting-user').hide();
      }else{
          resetNotif();
          alertify.alert("Echec, Une erreur a été rencontrée lors de la modification de la commande.");
          $('.panel-result-action-hosting-user').hide();
          $('.content-alert-action-hosting-user').hide();
      }
    });
});

$('.update_product_amount').on('blur', function() {
    
    var id = $(this).attr('name');
    var montant = $(this).val();

    var height = ($(window).height() + $(window).scrollTop());
    var width = $(window).width() + 100;
    var scrolltop = $(window).scrollTop();
    $('.panel-result-action-hosting-user').show();
    $('.content-alert-action-hosting-user').show();
    $('.content-alert-action-hosting-user').html('<div style="position: fixed; top: 0px; margin-bottom: '+scrolltop+'px; left: 0px; z-index: 9000; width: '+width+'px; height: '+height+'px; background: rgba(0,0,0,0.5);"></div>');

    $.get('{{ path('produit_produit_editer_courant_commande') }}',{ id: id, montant: montant }, function(data){
      if(data == 1)
      {
          window.location.reload();
          $('.panel-result-action-hosting-user').hide();
          $('.content-alert-action-hosting-user').hide();
      }else{
          resetNotif();
          alertify.alert("Echec, Une erreur a été rencontrée lors de la modification de la commande.");
          $('.panel-result-action-hosting-user').hide();
          $('.content-alert-action-hosting-user').hide();
      }
    });

});

$('.update_product_taxe').on('blur', function() {
    
    var id = $(this).attr('name');
    var taxe = $(this).val();

    var height = ($(window).height() + $(window).scrollTop());
    var width = $(window).width() + 100;
    var scrolltop = $(window).scrollTop();
    $('.panel-result-action-hosting-user').show();
    $('.content-alert-action-hosting-user').show();
    $('.content-alert-action-hosting-user').html('<div style="position: fixed; top: 0px; margin-bottom: '+scrolltop+'px; left: 0px; z-index: 9000; width: '+width+'px; height: '+height+'px; background: rgba(0,0,0,0.5);"></div>');

    $.get('{{ path('produit_produit_editer_courant_commande') }}',{ id: id, taxe: taxe }, function(data){
      if(data == 1)
      {
          window.location.reload();
          $('.panel-result-action-hosting-user').hide();
          $('.content-alert-action-hosting-user').hide();
      }else{
          resetNotif();
          alertify.alert("Echec, Une erreur a été rencontrée lors de la modification de la commande.");
          $('.panel-result-action-hosting-user').hide();
          $('.content-alert-action-hosting-user').hide();
      }
    });

});

$('.open-modal-update-panier').click(function(){
	var id = $(this).attr('value');
	$('.wait-chargement-content-module-article').show();
	$('.content-module-loading-article').hide();
	$('#modal-update-content').modal('show');
	$.get('{{ path('produit_produit_panier_addnew_line') }}',{ id: id }, function(data){
		$('.wait-chargement-content-module-article').hide();
		$('.content-module-loading-article').show();
		$('.content-module-loading-article').html(data);
	});
});
{% endblock %}