<span class="pull-left" style="float: left!important;">&copy; {{ site }}</span>
<span class="pull-right" style="float: right!important;">
    <a href="{{ twitter }}" title="visiter notre page twitter" target="_blank"><span class="bi bi-twitter"></span></a> .
    <a href="{{ facebook }}"  title="visiter notre page facebook" target="_blank"><span class="bi bi-facebook"></span></a>.
    <a href="{{ google }}" title="visiter notre page google+" target="_blank"><span class="bi bi-youtube"></span></a>.
    <a href="{{ linkedin }}" title="visiter notre page Linkedin" target="_blank"><span class="bi bi-linkedin"></span></a>
</span>