
{{ form_start(form, {'attr': {'action': path('users_adminuser_update_content_continent12', {'id': continent.id}) }}) }}
  <div class="form-group">
	 {{ form_widget(form.nom) }}
	 {{ form_label(form.nom, 'Nom du continent'|trans) }}
	 <div style="color: red;">{{ form_errors(form.nom)|trans }}</div>
  </div>
  <div class="form-group">
	 {{ form_widget(form.citoyen) }}
	 {{ form_label(form.citoyen, 'Nom des citoyens'|trans) }}
	 <div style="color: red;">{{ form_errors(form.citoyen)|trans }}</div>
  </div>
  <div class="form-group">
	 {{ form_widget(form.citoyenne) }}
	 {{ form_label(form.citoyenne, 'Nom des citoyennes'|trans) }}
	 <div style="color: red;">{{ form_errors(form.citoyenne)|trans }}</div>
  </div>
  <div class="form-control">
	 <button class="btn btn-primary bg-struct" type="submit">Envoyer </button>
  </div>
{{ form_end(form) }}

